<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" >

    <title>
      {% block title %}
        Base Title
      {% endblock %}
    </title>

    <style>
      html {
        background: CadetBlue;
      }
      body {
        background: LightSalmon;
      }
      h1 {
        font-size: 1.5em;
        font-family: "Lucida Console", Monaco, monospace;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            {% for name, label in [
            ('index', 'Home'),
            ('about', 'About'),
            ] %}

              {% set path = url_for(name) %}
              <li class="nav-item">
                <a
                  class="nav-link {{'active' if request.path == path else ''}}"
                  href="{{ path }}"> {{ label }}
                </a>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-4">

      <h1>
        {% block body %}
          Base Body
        {% endblock %}
      </h1>

    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  </body>
</html>