{% extends 'blog/base.html' %}

{% block title %}
  Users List
{% endblock %}

{% block body %}
  <h1>Users: </h1>

  {% if users %}
    <ul class="list-group">
      {% for user in users %}
        <li class="list-group-item">
          <a class="text-decoration-none" href="{% url 'blog_django_app:user_details' pk=user.id %}">
            {{ user.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div>
      <strong>No users.</strong>
    </div>
  {% endif %}

{% endblock %}