{% extends 'blog/base.html' %}

{% block title %}
  User #{{ user.id }}
{% endblock %}

{% block body %}
  <h1>
    User {{ user.username }}
  </h1>

  <div>
    <strong>About {{ user.username }}</strong>:
    <p>{{ user.about }}</p>
  </div>

  {% if user_posts %}
    <h2>
      {{ user.username }}'s posts:
    </h2>
    <ul class="list-group">
      {% for post in user_posts %}
        <li class="list-group-item">
          <a class="text-decoration-none" href="{% url 'blog_django_app:post_details' pk=post.id %}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div>
      <strong>No posts.</strong>
    </div>
  {% endif %}

  <br>
  <div>
    <a class="btn btn-dark" href="{% url 'blog_django_app:users' %}">All users.</a>
  </div>


{% endblock %}