{% extends 'base.html' %}

{% block title %}
  Add Post
{% endblock %}

{% block body %}
  <h1>Add post</h1>
  <form method="post">

    {{ form.hidden_tag() }}

    {{ form.title.label(class='form-label') }}
    {{ form.title(class='form-control', placeholder='Some title') }}

    {{ form.body.label(class='form-label') }}
    {{ form.body(class='form-control', placeholder='Some text') }}

    {% if form.errors %}
      <div class="errors my-2">
        {% for name, errors in form.errors.items() %}
          <div class="alert alert-danger">
            {% if name %}
              <strong>{{ name }}</strong>
            {% endif %}
            <ul>
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <button type="submit" class="btn btn-outline-success my-2">Create post!</button>
  </form>

{% endblock %}