{% extends 'base.html' %}

{% block title %}
  User #{{ user.id }}
{% endblock %}

{% block body %}
  <h1>
    User {{ repr(user.username) }}
  </h1>

  {% user_posts = user.posts %}
  {% if user_posts %}
    <h2>
      {{ repr(user.username) }}'s posts:
    </h2>
    <ul class="list-group">
      {% for post in user_posts %}
        <li class="list-group-item">
          <a class="text-decoration-none" href="{{ url_for('post_details', post=post) }}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div>
      <strong>No posts.</strong>
    </div>
  {% endif %}

  <br>
  <div>
    <a href="{{ url_for('add_post', user_id=user.id)}}">
      Add post for user
    </a>
  </div>

  <br>
  <div>
    <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#modal-del-product"
        onclick="deleteItem()">
      Delete user
    </button>
  </div>

  <script src="{{ url_for('static', filename='js/delete.js') }}"></script>


{% endblock %}